.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.not-found-heading {
  font: bold 35px Roboto;
  color: #000;
}
